@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inconsolata);
  --font-serif: var(--font-lora);

  --color-neutral-950: #000000;
  --color-neutral-900: #1f1f1f;
  --color-neutral-800: #2d2d2d;
  --color-neutral-700: #3a3a3a;
  --color-neutral-500: #757575;
  --color-neutral-200: #e9e9e9;
  --color-neutral-100: #f4f4f4;
  --color-neutral-0: #ffffff;
  --color-purple-600: #8f19e8;
  --color-purple-500: #a445ed;
  --color-red-500: #ff5252;
}

@utility text-preset-1 {
  @apply text-[64px] font-bold tracking-[0px];
}

@utility text-preset-1-mobile {
  @apply text-[32px] font-bold tracking-[0px];
}

@utility text-preset-2 {
  @apply text-[24px] tracking-[0px];
}

@utility text-preset-3 {
  @apply text-[20px] tracking-[0px];
}

@utility text-preset-4 {
  @apply text-[18px] leading-[133%] tracking-[0px];
}

@utility text-preset-4-mobile {
  @apply text-[18px] tracking-[0px];
}

@utility text-preset-5-mobile {
  @apply text-[16px] tracking-[0px];
}

@utility text-preset-6-mobile {
  @apply text-[15px] leading-[160%];
}

@utility text-preset-7-regular {
  @apply text-[14px] tracking-[0px];
}

@utility text-preset-7-bold {
  @apply text-[14px] leading-[170%] font-bold tracking-[0px];
}

/* font family (sans, serif, mono) */

html {
  font-family: var(--font-inter);
}

html[data-font="serif"] {
  font-family: var(--font-lora);
}

html[data-font="mono"] {
  font-family: var(--font-inconsolata);
}

/* text-preset-1 (sans, serif, mono) */

.text-preset-1 {
  line-height: 120%;
}

html[data-font="serif"] .text-preset-1 {
  line-height: 130%;
}

html[data-font="mono"] .text-preset-1 {
  line-height: 105%;
}

/* text-preset-1-mobile (sans, serif, mono) */

.text-preset-1-mobile {
  line-height: 120%;
}

html[data-font="serif"] .text-preset-1-mobile {
  line-height: 130%;
}

html[data-font="mono"] .text-preset-1-mobile {
  line-height: 106%;
}

/* text-preset-2 (sans, serif, mono) */

.text-preset-2 {
  line-height: 120%;
}

html[data-font="serif"] .text-preset-2 {
  line-height: 130%;
}

html[data-font="mono"] .text-preset-2 {
  line-height: 104%;
}

/* text-preset-3 (sans, serif, mono) */

.text-preset-3 {
  line-height: 120%;
}

html[data-font="serif"] .text-preset-3 {
  line-height: 130%;
}

html[data-font="mono"] .text-preset-3 {
  line-height: 105%;
}

/* text-preset-4-mobile (sans, serif, mono) */

.text-preset-4-mobile {
  line-height: 122%;
}

html[data-font="serif"] .text-preset-4-mobile {
  line-height: 127%;
}

/* text-preset-5-mobile (sans, serif, mono) */

.text-preset-5-mobile {
  line-height: 120%;
}

html[data-font="serif"] .text-preset-5-mobile {
  line-height: 120%;
}

html[data-font="mono"] .text-preset-5-mobile {
  line-height: 106%;
}

/* text-preset-6-mobile (sans, serif, mono) */

.text-preset-6-mobile {
  letter-spacing: 0px;
}

html[data-font="serif"] .text-preset-6-mobile {
  letter-spacing: 0px;
}

html[data-font="mono"] .text-preset-6-mobile {
  letter-spacing: -0.25px;
}

/* text-preset-7-regular (sans, serif, mono) */

.text-preset-7-regular {
  line-height: 120%;
}

html[data-font="serif"] .text-preset-7-regular {
  line-height: 130%;
}

html[data-font="mono"] .text-preset-7-regular {
  line-height: 107%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-separator: var(--separator);
}

:root {
  --background: var(--color-neutral-0);
  --foreground: var(--color-neutral-800);
  --card: var(--color-neutral-0);
  --card-foreground: var(--color-neutral-800);
  --popover: var(--color-neutral-0);
  --popover-foreground: var(--color-neutral-800);
  --primary: var(--color-purple-500);
  --primary-foreground: var(--color-neutral-0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--color-neutral-500);
  --muted: var(--color-neutral-500);
  --muted-foreground: rgba(45, 45, 45, 0.25);
  --accent: var(--color-purple-500);
  --accent-foreground: var(--color-neutral-0);
  --destructive: var(--color-red-500);
  --border: var(--color-neutral-0);
  --input: var(--color-neutral-100);
  --ring: var(--color-neutral-0);
  --separator: var(--color-neutral-200);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-0);
  --card: var(--color-neutral-950);
  --card-foreground: var(--color-neutral-0);
  --popover: var(--color-neutral-900);
  --popover-foreground: var(--color-neutral-0);
  --primary: var(--color-purple-500);
  --primary-foreground: var(--color-neutral-0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: var(--color-neutral-500);
  --muted: var(--color-neutral-500);
  --muted-foreground: rgba(255, 255, 255, 0.25);
  --accent: var(--color-purple-500);
  --accent-foreground: var(--color-neutral-0);
  --destructive: var(--color-red-500);
  --border: var(--color-neutral-900);
  --input: var(--color-neutral-900);
  --ring: var(--color-neutral-950);
  --separator: var(--color-neutral-200);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
  }
}
